@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* variables in css */
:root {
    --header-height: 3rem;
    /* font weight */
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;
    /* colors */
    --dark-color: #141414;
    --dark-color-light: #8a8a8a;
    --dark-color-lighten: #f2f2f2;
    ---white-color: #fff;

    /*font and typography*/
    --body-font: 'Poppins', sans-serif;
    --big-font-size: 1.25rem;
    --bigger-font-size: 1.5rem;
    --biggest-font-size: 2rem;
    --h2-font-size: 1.25rem;
    --normal-font-size: .938rem;
    --smaller-font-size: 0.813rem;

    /*margins*/
    --mb-1: .5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
    --mb-5: 2.5rem;
    --mb-6: 3rem;
    /*z-index*/
    --z-index: 100;
    /*rotate img*/
    --rotate-img: rotate(-30deg);
}

@media screen and (min-width:768px) {
    :root {
        --body-font: 'Poppins', sans-serif;
        --big-font-size: 1.5rem;
        --bigger-font-size: 2rem;
        --biggest-font-size: 3rem;
        --normal-font-size: 1rem;
        --smaller-font-size: .875rem;
    }
}

*,
::before,
::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    color: var(--dark-color);
    line-height: 1.6;

}

h1,
h2,
h3,
p,
ul {
    margin: 0;
}

ul {
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--dark-color);
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.section {
    padding: 5rem 0 2rem;
}

.section-title {
    position: relative;
    font-size: var(--big-font-size);
    margin-bottom: var(--mb-4);
    text-align: center;
    letter-spacing: .1rem;
}

.section-title::after {
    content: "";
    position: absolute;
    width: 56px;
    height: 0.18rem;
    top: -1rem;
    left: 0;
    right: 0;
    margin: auto;
    background-color: var(--dark-color);
}

.bd-grid {
    max-width: 1024px;
    display: grid;
    grid-template-columns: 100%;
    column-gap: 2rem;
    width: calc(100% - 2rem);
    margin-left: var(--mb-2);
    margin-right: var(--mb-2);
}

.l-header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-index);
    background-color: var(--dark-color-lighten);
}
.l-main{
    width: 100%;
}

.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width:768px) {
    .nav__menu {
        position: fixed;
        top: var(--header-height);
        left: -100%;
        width: 60%;
        height: 100vh;
        padding: 2rem;
        background-color: var(--dark-color-lighten);
        transition: .5s;
    }

}

.show {
    left: 0;
}

.nav__item {
    margin-bottom: var(--mb-4);
}
.nav__link:hover{
    background-color: black;
    color: var(---white-color);
    padding:.5rem 1rem;
    border-radius: 30px;
    transition: .5s;
    
}

.nav__logo {
    font-weight: var(--font-bold);
    font-size: var(--bigger-font-size)
}

.nav__toggle,
.nav__shop {
    font-weight: var(--font-bold);
    font-size: 1.3rem;
    cursor: pointer;
}
.indicator {
    background-color: var(--dark-color);
    padding: 0.2rem 0.5rem;
    border-radius: 50%;
    font-size: var(--smaller-font-size);
    color: var(---white-color);
    position: relative;
    top: -20px;
    left: 40px;
}


.cart-wrp {
    position: absolute;
    right:1%;
    top: 50px;
    z-index: 30;
    width: 350px;
    height: 250px;
    background-color: var(--dark-color-lighten);
    box-shadow: 0 0 15px 0 #000000;
    border-radius: 10px;
}
.invisible{
    display: none;
}
.cart-heading {
    font-size: 1.1rem;
    font-weight: 700;
    padding: 1rem;
}

.divider {
    width: 100%;
    height: 1px;
    background-color: rgba(128, 128, 128, 0.616);
}

.empty {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart-content {
    height: 200px;

}

.product {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    height: 100%;
    justify-content: space-around;
}

.cart-content .product div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product-title {
    color: var(--dark-color);
    font-weight: var(--font-semi-bold);
    font-size: 1.1rem;
}

.product-info {
    gap: 1rem;
    display: flex;
    flex-direction: column;
    text-align: start;

}

.product-info p:last-child {
    margin-right: auto;
    color: var(--Dark-grayish-blue);
}

.product-info b {
    color: var(--Black)
}

.cart-content img {
    width: 60px;
    border-radius: 6px;
}

.delete-btn {
    background-color: transparent;
    border: none;
    width: 45px;
    cursor: pointer;
}

.checkout-btn {
    background-color: var(--Orange);
    border-radius: 8px;
    border: none;
    color: white;
    font-weight: 700;
    font-size: 1.1rem;
    font-family: inherit;
    padding: 1rem;
    cursor: pointer;
}

.scroll-header {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* home */
.home {
    background-color: var(--dark-color-lighten);
    overflow: hidden;
}

.home__container {
    height: calc(100vh - var(--header-height));
}

.home__sneaker {
    position: relative;
    display: flex;
    align-self: center;
    justify-content: center;
}

.shape {
    width: 220px;
    height: 220px;
    background-color: var(--dark-color);
    border-radius: 50%;
}

.home__img {
    position: absolute;
    max-width: initial;
    top: 1.5rem;
    width: 275px;
    transform: var(--rotate-img);
}

.home__new {
    display: block;
    font-size: var(--smaller-font-size);
    font-weight: var(--font-semi-bold);
    margin-bottom: var(--mb-2);
}

.home__title {
    margin-bottom: var(--mb-1);
    font-size: var(--bigger-font-size);
}

.home__description {
    margin-bottom: var(--mb-6);
}

.button {
    display: inline-block;
    background-color: var(--dark-color);
    color: var(---white-color);
    font-weight: var(--font-semi-bold);
    border-radius: .5rem;
    padding: 1.125rem 2rem;
    transition: .3s;
}

.button:hover {
    transform: translateY(-.25rem);
}

/* featured */
.featured__container {
    row-gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

.sneaker {
    position: relative;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--dark-color-lighten);
    border-radius: .5rem;
    transition: .3s;
}

.sneaker__sale {
    position: absolute;
    top: .5rem;
    left: .25rem;
    background-color: var(--dark-color);
    color: var(---white-color);
    padding: .2rem;
    border-radius: .25rem;
    font-size: var(--h2-font-size);
    transform: rotate(-90deg);
    letter-spacing: .1rem;
}

.sneaker__img {
    width: 220px;
    margin-top: var(--mb-3);
    margin-bottom: var(--mb-6);
    transform: var(--rotate-img);
    filter: drop-shadow(0 12px 8px rgba(0, 0, 0, 0.2))
}

.sneaker__name,
.sneaker__price {
    font-size: var(--h2-font-size);
    letter-spacing: .1rem;
    font-weight: var(--font-bold);
}

.sneaker__name {
    margin-bottom: var(--mb-1);
}

.sneaker__price {
    margin-bottom: var(--mb-4);
}

.sneaker:hover {
    transform: translateY(-.25rem);
}

.button-light {
    display: inline-flex;
    align-items: center;
    font-weight: var(--font-bold);
    color: var(---white-color);
    padding: .5rem 1rem;
    border-radius: .25rem;
    background-color: var(--dark-color);
}

.button-icon:hover .button-light {
    transform: translateX(.25rem);
}

.button-icon {
    font-size: 1.25rem;
    margin-left: var(--mb-1);
    transition: .3s;
}

/* collection */
.collection__container {
    row-gap: 2rem;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

.collection__card {
    position: relative;
    display: flex;
    height: 328px;
    background-color: var(--dark-color-lighten);
    padding: 2rem;
    border-radius: .5rem;
    transition: .3s;
}

.collection__data {
    align-self: flex-end;

}

.collection__img {
    position: absolute;
    top: 0;
    right: 0;
    width: 230px;
}

.collection__name {
    font-size: var(--bigger-font-size);
    margin-bottom: .25rem;
}

.collection__description {
    margin-bottom: var(--mb-2);
}

.collection__card:hover {
    transform: translateY(-.5rem);
}

.women__container {
    row-gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}
.offer__container{
    background-color: var(--dark-color-lighten);
    column-gap: 0;
    grid-template-columns: 55% 45%;
    border-radius: .5rem;
    justify-content: center;

}
.offer__data{
    padding:4rem 0  4rem 1.5rem;
}
.offer__title{
    font-size:var(--bigger-font-size);
    margin-bottom: .25rem;
}
.offer__description{
    margin-bottom: var(--mb-3);
}
.offer__img{
    width:153px;
}
.new__container{
    row-gap: 2rem;
}
.new__mens{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: .5rem;
    background-color: var(--dark-color-lighten);
    padding:2rem

}
.new__mens-img{
    width: 276px;
    margin-bottom: var(--mb-3)
}
.new__title{
    margin-bottom: .25rem;
    font-size: var(--bigger-font-size);
}
.new-price{
    display: block;
    margin-bottom: var(--mb-3);
}
.new__sneaker{
    display:grid;
    gap:1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}
.new__sneaker-card{
    position: relative;
    padding:3.5rem 1.5rem;
    background-color: var(--dark-color-lighten);
    border-radius: .5rem;
    overflow: hidden;
    display: flex;
    justify-content: center;

}
.new__sneaker-img{
    width: 220px;
}
.new__sneaker-overlay{
    position: absolute;
    left:0;
    bottom:-100%;
    width:100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(138,138,138,.3);
    transition:.3s;
}
.new__sneaker-card:hover .new__sneaker-overlay{
    bottom: 0;
}

.newsletter__container{
    background-color:var(--dark-color);
    color:var(---white-color);
    padding: 2rem .5rem;
    border-radius: .5rem;
    text-align: center;
}
.newsletter__title{
    font-size: var(--bigger-font-size);
    margin-bottom: var(--mb-2);
}
.newletter__description{
    margin-bottom: var(--mb-5);
}
.newsletter__subscribe{
    display: flex;
    column-gap: .5rem;
    background-color: var(---white-color);
    padding: .5rem;
    border-radius: .5rem;
}
.newsletter__input{
    outline: none;
    border: none;
    width:90%;
    font-size: var(--normal-font-size);
}
.newletter__input::placeholder{
    color:var(--dark-color);
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    font-weight: var(--font-semi-bold);
}
.footer{
    background-color: var(--dark-color-lighten);
}
.footer__container{
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    
}
.footer__box{
    margin-bottom: var(--mb-4);
}
.footer__title{
    font-size: var(--big-font-size);
}
.footer__link{
    display: block;
    width: max-content;
    margin-bottom: var(--mb-1);
}
.footer__social{
    font-size: 1.5rem;
    margin-right: 1.25rem;
}
.footer__copy{
    padding-top: 3rem;
    font-size: var(--smaller-font-size);
    color:var(--dark-color-light);
    text-align: center;
}

#next {
    position: absolute;
    right: 5%;
    top: 45%;
    width: 35px;
    height: 35px;
    z-index: 10;
    background: var(--White);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;

}
@media screen  and (max-width:576px) {
    .collection__container{
        grid-template-columns: 415px;
    }
    .collection__img{
        width: 260px
    }
    .offer__container{
        grid-template-columns: max-content max-content;

    }
    .offer__data{
        text-align: center;
    }
    .new__mens{
        align-items: center;
    }
}
@media screen  and (min-width:768px){
    #next img,#previous img{
        width:50px;
    }
    
    #next{
        left:130%;
    }
    
    body{
        margin:0;
    }
    .section{
        padding:7rem 0 3rem;
    }
    .section-title::after{
width: 76px;
    }
    .nav{
        height: calc(var(--header-height) + 1.5rem);
    
    }
    .nav__menu{
        margin-left: auto;
    }
   
    .nav__list{
        display: flex;
    }
    .nav__item{
        margin-left: var(--mb-4);
        margin-bottom: 0;
    }
    .nav__toggle{
        display: none;
    }
    .home__container{
        height: 100vh;
        grid-template-columns: max-content max-content;
        justify-content: center;
        align-items: center;
    }
    .home__sneaker{
        order: 1;
    }
    .shape{
        width:367px;
        height: 376px;
    }
    .home__img{
        width: 476px;
        top:3.5rem;
        right: 0;
        left:-3rem
    }
   .newsletter__container{
    grid-template-columns: max-content max-content;
    justify-content: center;
    align-items: center;
    padding:4.5rem 2rem;
    column-gap:3rem
   }
    .newletter__description{
        margin-bottom: 0;
    }
    .newsletter__subscribe{
        width: 360px;
        height: max-content;
    }
}
@media screen  and (min-width:1024px)
{
    .bd-grid{
        margin-left: auto;
        margin-right: auto;
    }
    .home__container{
        column-gap: 8rem;
    }
    .collection__container{
        grid-template-columns: repeat(2,415px);
    }
    .new__container{
        grid-template-columns: max-content 1fr;
    }
    .new__mens{
        align-items: initial;
        justify-content: flex-end;
        padding:4rem 2rem;
    }
    .new__mens-img{
        margin-bottom: var(--mb-6);
    }
}
